.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.Header {
  height: 30px;
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  width : 100%;
}